<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/Registration.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/register" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name="first" id="first" placeholder="Enter your First Name" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name="last" id="last" placeholder="Enter your Last Name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" id="email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Mobile Number</span>
            <input type="text" name="mobile" id="mobile" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text"  name="password" id="pasword" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" name="confirm_password" id="confirm_password" placeholder="Confirm your password" required>
          </div>
        </div>
     
      <p align="center">
        <input class="button" type="submit" name="" value="submit">
      </p>
              

        </div>
      </form>
    </div>
  </div>
</body>
<script type="text/javascript">
  document.getElementById("myButton").onclick = function () {
    <a href="login.html"></a>

  };
</script>
</html>
